body {
  margin: 0px;
}

.Square {
  width: 16px;
  height: 16px;
}

.Row {
  display: flex;
}

.Board {
  position: relative;
  width: calc(20*16px);
  height: calc(10*16px);
  left: -8px;
}

.Container {
  overflow: hidden;
  width: calc(10*16px);
  height: calc(10*16px);
  border: solid 2px black;
  margin: 16px;
}
