body {
  margin: 0px;
}

.Square {
  width: 16px;
  height: 16px;
}

.Row {
  display: flex;
}

.Board {
  position: relative;
}

.Board:focus {
  outline: none;
}

.Container {
  overflow: hidden;
  width: calc(10 * 16px);
  height: calc(10 * 16px);
  border: solid 3px black;
  border-radius: 10px;
}

.App {
  margin: 16px;
}
